# AI_Tupro3
Kaenova Mahendra Auditama<sup>1</sup><br>
Adhe Akram Azhari<sup>2</sup><br>
Elita Aurora Az Zahra<sup>3</sup><br>
<sup>1</sup><a href="mailto: kaenova@student.telkomuniversity.ac.id">kaenova@student.telkomuniversity.ac.id</a><br>
<sup>2</sup><a href="mailto: adheakramazhari@student.telkomuniversity.ac.id">adheakramazhari@student.telkomuniversity.ac.id</a><br>
<sup>3</sup><a href="mailto: elitaaurora@student.telkomuniversity.ac.id">elitaaurora@student.telkomuniversity.ac.id</a><br>
Informatics Engineering, Telkom University, Indonesia<br>
2021

Tugas Pemrograman 03 merupakan tugas terakhir dari ketiga projek tugas yang ada pada Mata Kuliah Pengantar Kecerdasan Buatan. Pada tugas ini, kami diminta untuk membuat suatu sistem rekomendasi mobil berbasis kNN untuk memilih 3 (tiga) mobil terbaik sesuai dengan inputan user. Sistem membaca masukan file mobil.xls dan mengeluarkan output berupa sebuah file rekomendasi.xls yang berisi satu vektor kolom berisi 3 (tiga) baris string yang menyatakan nama mobil yang direkomendasikan pada file mobil.xls.

# Import Library

In [1]:
import pandas as pd
import math

# Input User

In [2]:
pilihan = int(input("Input user data:\n 1. Manual Input\n 2. Using ./data/raw/test.xls\n Choose: "))
if pilihan == 1:
    print("========= Input Ukuran Mobil =========")
    cek = True
    while cek:
        input_ukuran = int(input("Masukkan Ukuran Mobil (0-10): "))
        if input_ukuran >= 0 and input_ukuran <= 10:
            cek = False
        if cek:
            print("Input Tidak berada dalam Skala")
    print("========= Input Kenyamanan Mobil =========")
    cek = True
    while cek:
        input_kenyamanan = int(input("Masukkan Kenyamanan Mobil (0-10): "))
        if input_kenyamanan >= 0 and input_kenyamanan <= 10:
            cek = False
        if cek:
            print("Input Tidak berada dalam Skala")   
    print("========= Input Keiritan Mobil =========")
    cek = True
    while cek:
        input_irit = int(input("Masukkan Iritnya Mobil (0-10): "))
        if input_irit >= 0 and input_irit <= 10:
            cek = False
        if cek:
            print("Input Tidak berada dalam Skala")
    print("========= Input Kecepatan Mobil =========")
    cek = True
    while cek:
        input_kecepatan = int(input("Masukkan Kecepatan Mobil (0-10): "))
        if input_kecepatan >= 0 and input_kecepatan <= 10:
            cek = False
        if cek:
            print("Input Tidak berada dalam Skala")
    print("========= Input Harga Mobil =========")
    cek = True
    while cek:
        input_harga = float(input("Masukkan Harga Mobil (Ratusan Juta): "))
        if input_kecepatan >= 0:
            cek = False
        if cek:
            print("Input Tidak dapat kurang dari 0")        
elif pilihan == 2:
    df_input = pd.read_excel("./data/raw/test.xls")
    df_input[["Ukuran", "Kenyamanan", "Irit", "Kecepatan"]] = df_input[["Ukuran", "Kenyamanan", "Irit", "Kecepatan"]].astype(float)
    input_ukuran = df_input.iloc[0][0]
    input_kenyamanan = df_input.iloc[0][1]
    input_irit = df_input.iloc[0][2]
    input_kecepatan = df_input.iloc[0][3]
    input_harga = df_input.iloc[0][4]
    if input_ukuran > 10 or input_ukuran < 0:
        raise ValueError("Nilai Ukuran tidak berada pada skala")
    if input_kenyamanan > 10 or input_kenyamanan < 0:
        raise ValueError("Nilai Kenyamanan tidak berada pada skala")
    if input_irit > 10 or input_irit < 0:
        raise ValueError("Nilai Irit tidak berada pada skala")
    if input_kecepatan > 10 or input_kecepatan < 0:
        raise ValueError("Nilai Kecepatan tidak berada pada skala")
    if input_harga < 0:
        raise ValueError("Nilai Harga tidak dapat kurang dari 0")
else:
    raise ValueError("Pilihan tidak valid")

Input user data:
 1. Manual Input
 2. Using ./data/raw/test.xls
 Choose: 2

# Import Data

In [3]:
df = pd.read_excel("./data/raw/Dataset Tugas 3.xls")
df

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga (Ratus Juta)
0,Toyota Agya,4,4,9,6,1.00
1,Daihatsu Alya,4,3,9,6,1.10
2,Toyota Avanza,6,5,6,6,2.00
3,Daihatsu Xenia,6,4,6,6,1.75
4,Xpander,7,7,6,7,2.25
5,Livina,7,7,6,7,2.10
6,Karimun,3,4,10,5,1.20
7,Toyota Innova,8,8,5,7,4.00
8,Alphard,9,10,4,8,10.00
9,Toyota Vios,5,7,9,8,2.50
10,Honda City,5,8,7,8,2.70
11,Toyota Hiace,10,5,8,6,5.00
12,Toyota Fortuner,9,8,5,8,5.00
13,Toyota Foxy,9,9,5,7,5.50
14,Toyota Corolla Altis,5,9,7,9,6.00
15,Suzuki Ertiga,7,7,7,7,2.30
16,Suzuki Carry,7,3,9,5,0.80

# Normalization and Preperation

In [4]:
df_normalize = df.copy()

normal_attr = {
    "uku_min" : 0,
    "uku_max" : 10,
    "ken_min" : 0,
    "ken_max" : 10,
    "iri_min" : 0,
    "iri_max" : 10,
    "kec_min" : 0,
    "kec_max" : 10,
    "har_min" : 0,
    "har_max" : max(max(df["Harga (Ratus Juta)"]), input_harga),
}

df_normalize[["Ukuran", "Kenyamanan", "Irit", "Kecepatan"]] = df_normalize[["Ukuran", "Kenyamanan", "Irit", "Kecepatan"]].astype(float)

for i in range(len(df_normalize)):
    df_normalize.at[i, "Ukuran"]= (df_normalize.iloc[i][1] - normal_attr["uku_min"]) / (normal_attr["uku_max"] - normal_attr["uku_min"]) 
    df_normalize.at[i, "Kenyamanan"] = (df_normalize.iloc[i][2] - normal_attr["ken_min"]) / (normal_attr["ken_max"] - normal_attr["ken_min"]) 
    df_normalize.at[i, "Irit"] = (df_normalize.iloc[i][3] - normal_attr["iri_min"]) / (normal_attr["iri_max"] - normal_attr["iri_min"]) 
    df_normalize.at[i, "Kecepatan"] = (df_normalize.iloc[i][4] - normal_attr["kec_min"]) / (normal_attr["kec_max"] - normal_attr["kec_min"]) 
    df_normalize.at[i, "Harga (Ratus Juta)"] = (df_normalize.iloc[i][5] - normal_attr["har_min"]) / (normal_attr["har_max"] - normal_attr["har_min"])
    
df_normalize

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga (Ratus Juta)
0,Toyota Agya,0.4,0.4,0.9,0.6,0.100
1,Daihatsu Alya,0.4,0.3,0.9,0.6,0.110
2,Toyota Avanza,0.6,0.5,0.6,0.6,0.200
3,Daihatsu Xenia,0.6,0.4,0.6,0.6,0.175
4,Xpander,0.7,0.7,0.6,0.7,0.225
5,Livina,0.7,0.7,0.6,0.7,0.210
6,Karimun,0.3,0.4,1.0,0.5,0.120
7,Toyota Innova,0.8,0.8,0.5,0.7,0.400
8,Alphard,0.9,1.0,0.4,0.8,1.000
9,Toyota Vios,0.5,0.7,0.9,0.8,0.250
10,Honda City,0.5,0.8,0.7,0.8,0.270
11,Toyota Hiace,1.0,0.5,0.8,0.6,0.500
12,Toyota Fortuner,0.9,0.8,0.5,0.8,0.500
13,Toyota Foxy,0.9,0.9,0.5,0.7,0.550
14,Toyota Corolla Altis,0.5,0.9,0.7,0.9,0.600
15,Suzuki Ertiga,0.7,0.7,0.7,0.7,0.230
16,Suzuki Carry,0.7,0.3,0.9,0.5,0.080

# Importing Data to a List

In [5]:
class Mobil:
    def __init__(self, nama,ukuran,kenyamanan,irit,kecepatan,harga):
        self.nama = nama
        self.ukuran = ukuran
        self.kenyamanan = kenyamanan
        self.irit =  irit
        self.kecepatan = kecepatan
        self.harga = harga
        
    def PrintMobil(self):
        print("Mobil {}\n Ukuran: {}\n Kenyamanan: {}\n Irit: {}\n Kecepatan: {}\n Harga: {}".format(self.nama, self.ukuran, self.kenyamanan, self.irit, self.kecepatan, self.harga))

In [6]:
mobil_data = []
#jumlah_distance = {}
for i in range(len(df)):
    mobil_temp = Mobil(df_normalize.iloc[i][0], df_normalize.iloc[i][1], df_normalize.iloc[i][2], df_normalize.iloc[i][3], df_normalize.iloc[i][4], df_normalize.iloc[i][5])
    mobil_data.append(mobil_temp)

# Euclidean Definition

In [7]:
def hitungEuclidean(list_mobil, input_user):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        perhitungan = ((input_user["ukuran"] - list_mobil[i].ukuran)**2 + (input_user["kenyamanan"] - list_mobil[i].kenyamanan)**2 + (input_user["irit"] - list_mobil[i].irit)**2 + (input_user["kecepatan"] - list_mobil[i].kecepatan)**2 + (input_user["harga"] - list_mobil[i].harga)**2)**0.5
        out_temp.append(perhitungan)
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

# Manhattan Definition

In [8]:
def hitungManhattan(list_mobil, input_user):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        sum = 0
        sum = abs(input_user["ukuran"] - list_mobil[i].ukuran) + abs(input_user["kenyamanan"] - list_mobil[i].kenyamanan) + abs(input_user["irit"] - list_mobil[i].irit) + abs(input_user["kecepatan"] - list_mobil[i].kecepatan)+ abs(input_user["harga"] - list_mobil[i].harga)
        out_temp.append(sum)
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

# Minkowski Definition

In [9]:
def hitungMinkowski(list_mobil, input_user, pangkat):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        minkowski = (abs(float(input_user["ukuran"]-list_mobil[i].ukuran)) ** pangkat + abs(float(input_user["kenyamanan"]-list_mobil[i].kenyamanan))**pangkat + abs(float(input_user["irit"]-list_mobil[i].irit))**pangkat + abs(float(input_user["kecepatan"]-list_mobil[i].kecepatan))**pangkat + abs(float(input_user["harga"]-list_mobil[i].harga))**pangkat)**(1/pangkat)
        out_temp.append(minkowski)
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

# Supremum Definition

In [10]:
def hitungSupremum(list_mobil, input_user):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        supremum = max([[abs(input_user["ukuran"]-list_mobil[i].ukuran)], [abs(input_user["kenyamanan"]-list_mobil[i].kenyamanan)], [abs(input_user["irit"]-list_mobil[i].irit)], [abs(input_user["kecepatan"]-list_mobil[i].kecepatan)], [abs(input_user["harga"]-list_mobil[i].harga)]])
        out_temp.append(supremum[0])
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

# Distance Calculation and Sorting

In [11]:
inputusr = {
    "ukuran": (input_ukuran - normal_attr["uku_min"]) / (normal_attr["uku_max"] - normal_attr["uku_min"]),
    "kenyamanan": (input_kenyamanan - normal_attr["ken_min"]) / (normal_attr["ken_max"] - normal_attr["ken_min"]),
    "irit": (input_irit - normal_attr["iri_min"]) / (normal_attr["iri_max"] - normal_attr["iri_min"]),
    "kecepatan": (input_kecepatan - normal_attr["kec_min"]) / (normal_attr["kec_max"] - normal_attr["kec_min"]),
    "harga": (input_harga - normal_attr["har_min"]) / (normal_attr["har_max"] - normal_attr["har_min"])
}

euclidean_perhitungan = []
manhattan_perhitungan = []
minkowski_perhitungan = [] 
supremum_perhitungan = []  

# Melakukan pehitungan jarak dan di return list yang berisi [Jarak, Nama Mobil]
euclidean_perhitungan = hitungEuclidean(mobil_data, inputusr)
manhattan_perhitungan = hitungManhattan(mobil_data, inputusr)
minkowski_perhitungan = hitungMinkowski(mobil_data, inputusr, 1.1)
supremum_perhitungan = hitungSupremum(mobil_data, inputusr)

# Melakukan sorting perhitungan
euclidean_perhitungan = sorted(euclidean_perhitungan, key=lambda x:x[0])
manhattan_perhitungan = sorted(manhattan_perhitungan, key=lambda x:x[0])
minkowski_perhitungan = sorted(minkowski_perhitungan, key=lambda x:x[0])
supremum_perhitungan = sorted(supremum_perhitungan, key=lambda x:x[0])

# Get Best 3 Cars From Each Calculation to Excel

In [12]:
df_euclidean = pd.DataFrame(euclidean_perhitungan[:3], columns=['Distance', 'Nama Mobil'])
df_manhattan = pd.DataFrame(manhattan_perhitungan[:3], columns=['Distance', 'Nama Mobil'])
df_minkowski = pd.DataFrame(minkowski_perhitungan[:3], columns=['Distance', 'Nama Mobil'])
df_supremum = pd.DataFrame(supremum_perhitungan[:3], columns=['Distance', 'Nama Mobil'])

with pd.ExcelWriter('./data/processed/rekomendasi.xls') as writer:
    df_euclidean.to_excel(writer, sheet_name='Euclidean Distance', index=False)
    df_manhattan.to_excel(writer, sheet_name='Manhattan Distance', index=False)
    df_minkowski.to_excel(writer, sheet_name='Minkowski Distance', index=False)
    df_supremum.to_excel(writer, sheet_name='Supremum Distance', index=False)

C:\Users\kaeno\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3357: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  if (await self.run_code(code, result,  async_=asy)):