In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_excel("./data/raw/Dataset Tugas 3.xls")
df

,Nama Mobil,Ukuran,Kenyamanan,Irit,Kecepatan,Harga (Ratus Juta)
0,Toyota Agya,4,4,9,6,1.00
1,Daihatsu Alya,4,3,9,6,1.10
2,Toyota Avanza,6,5,6,6,2.00
3,Daihatsu Xenia,6,4,6,6,1.75
4,Xpander,7,7,6,7,2.25
5,Livina,7,7,6,7,2.10
6,Karimun,3,4,10,5,1.20
7,Toyota Innova,8,8,5,7,4.00
8,Alphard,9,10,4,8,10.00
9,Toyota Vios,5,7,9,8,2.50
10,Honda City,5,8,7,8,2.70
11,Toyota Hiace,10,5,8,6,5.00
12,Toyota Fortuner,9,8,5,8,5.00
13,Toyota Foxy,9,9,5,7,5.50
14,Toyota Corolla Altis,5,9,7,9,6.00
15,Suzuki Ertiga,7,7,7,7,2.30
16,Suzuki Carry,7,3,9,5,0.80

In [3]:
class Mobil:
    def __init__(self, nama,ukuran,kenyamanan,irit,kecepatan,harga):
        self.nama = nama
        self.ukuran = ukuran
        self.kenyamanan = kenyamanan
        self.irit =  irit
        self.kecepatan = kecepatan
        self.harga = harga
        
    def PrintMobil(self):
        print("Mobil {}\n Ukuran: {}\n Kenyamanan: {}\n Irit: {}\n Kecepatan: {}\n Harga: {}".format(self.nama, self.ukuran, self.kenyamanan, self.irit, self.kecepatan, self.harga))

In [4]:
mobil_data = []
for i in range(len(df)):
    mobil_temp = Mobil(df.iloc[i][0], df.iloc[i][1], df.iloc[i][2], df.iloc[i][3], df.iloc[i][4], df.iloc[i][5])
    mobil_data.append(mobil_temp)

In [5]:
def hitungEucledian(list_mobil, input_user):
    pass

In [6]:
def hitungManhattan(list_mobil, input_user):
    pass

In [7]:
def hitungMinkowski(list_mobil, input_user, pangkat):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        minkowski = (abs(float(input_user["ukuran"]-list_mobil[i].ukuran)) ** pangkat + abs(float(input_user["kenyamanan"]-list_mobil[i].kenyamanan))**pangkat + abs(float(input_user["irit"]-list_mobil[i].irit))**pangkat + abs(float(input_user["kecepatan"]-list_mobil[i].kecepatan))**pangkat + abs(float(input_user["harga"]-list_mobil[i].harga))**pangkat)**(1/pangkat)
        out_temp.append(minkowski)
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

In [8]:
def hitungSupremum(list_mobil, input_user):
    out_perhitungan = []
    for i in range(len(list_mobil)):
        out_temp = []
        supremum = max([[abs(input_user["ukuran"]-list_mobil[i].ukuran)], [abs(input_user["kenyamanan"]-list_mobil[i].kenyamanan)], [abs(input_user["irit"]-list_mobil[i].irit)], [abs(input_user["kecepatan"]-list_mobil[i].kecepatan)], [abs(input_user["harga"]-list_mobil[i].harga)]])
        out_temp.append(supremum[0])
        out_temp.append(list_mobil[i].nama)
        out_perhitungan.append(out_temp)
    return out_perhitungan

# Main

In [9]:
if __name__=="__main__":
    input_ukuran = int(input("Masukkan Ukuran Mobil (1-10): "))
    input_kenyamanan = int(input("Masukkan Kenyamanan Mobil (1-10): "))
    input_irit = int(input("Masukkan Iritnya Mobil (1-10): "))
    input_kecepatan = int(input("Masukkan Kecepatan Mobil (1-10): "))
    input_harga = float(input("Masukkan Harga Mobil: "))

    input_knn = int(input("Input kNN: "))
    

    inputusr = {
        "ukuran": input_ukuran,
        "kenyamanan": input_kenyamanan,
        "irit": input_irit,
        "kecepatan": input_kecepatan,
        "harga": input_harga
    }
    
    eucledian_perhitungan = [] # Elita
    manhattan_perhitungan = [] # Akram
    minkowski_perhitungan = [] # Kae
    supremum_perhitungan = []  # Kae
    
    eucledian_knn = [] # Elita
    manhattan_knn = [] # Akram
    minkowski_knn = [] # Kae
    supremum_knn = []  # Kae

    # Melakukan pehitungan jarak dan di return list yang berisi [Jarak, Nama Mobil]
    minkowski_perhitungan = hitungMinkowski(mobil_data, inputusr, 1.1)
    supremum_perhitungan = hitungSupremum(mobil_data, inputusr)
    
    # Melakukan pengurutan ascemdomg berdasarkan jarak
    #eucledian_perhitungan = sorted(eucledian_perhitungan,key=lambda x: x[0])
    #manhattan_perhitungan = sorted(manhattan_perhitungan,key=lambda x: x[0])
    minkowski_perhitungan = sorted(minkowski_perhitungan,key=lambda x: x[0])
    supremum_perhitungan = sorted(supremum_perhitungan,key=lambda x: x[0])
    
    print("\n======== Minkowski Perhitungan ========")
    print(minkowski_perhitungan)
    print("\n======== Supremum Perhitungan ========")
    print(supremum_perhitungan)
    
    # Melakukan voting terhadap mobil berdasarkan perhitungan jarak dan knn
    ## Masih bermasalah
    jumlah_distance = {}
    for i in range(len(mobil_data)):
        #jumlah_distance[eucledian_perhitungan[i][1]] += 1
        #jumlah_distance[manhattan_perhitungan[i][1]] += 1
        if minkowski_perhitungan[i][1] not in jumlah_distance:
            jumlah_distance[minkowski_perhitungan[i][1]] = 0
        jumlah_distance[minkowski_perhitungan[i][1]] += minkowski_perhitungan[i][0]
        if supremum_perhitungan[i][1] not in jumlah_distance:
            jumlah_distance[supremum_perhitungan[i][1]] = 0
        jumlah_distance[supremum_perhitungan[i][1]] += supremum_perhitungan[i][0]
        
    # Melakukan sorting terhadap voting secara descending
    final_dict = dict(sorted(jumlah_distance.items(), key=lambda item: item[1]))
      
    # Output 3 mobil
    print("\n======== Final Dict by Voting ========")
    print(final_dict)    
    print("\n======== Final List ========")
    final_list = []
    for i in range(5):
        final_list.append(list(final_dict.keys())[i])
        
    print(final_list)

======== Minkowski Perhitungan ========
[[10.763131076080377, 'Daihatsu Xenia'], [11.35412397963113, 'Toyota Avanza'], [11.556421855041183, 'Daihatsu Alya'], [11.579146119394755, 'Karimun'], [12.35731919728399, 'Toyota Agya'], [13.755501170239423, 'Suzuki Carry'], [14.076434230934858, 'Toyota Innova'], [14.168061955738516, 'Toyota Corolla Altis'], [14.250731697597912, 'Toyota Hiace'], [14.56222047581847, 'Xpander'], [14.693390352925768, 'Livina'], [14.740335140702555, 'Toyota Foxy'], [14.980160511187822, 'Honda City'], [15.041510323213798, 'Toyota Fortuner'], [15.354402452339514, 'Suzuki Ertiga'], [16.013514208089827, 'Toyota Vios'], [18.62400119264685, 'Alphard']]

======== Supremum Perhitungan ========
[[4, 'Toyota Avanza'], [4.25, 'Daihatsu Xenia'], [5, 'Toyota Agya'], [5, 'Daihatsu Alya'], [5, 'Xpander'], [5, 'Livina'], [5, 'Toyota Vios'], [5, 'Honda City'], [5, 'Suzuki Ertiga'], [5.2, 'Suzuki Carry'], [6, 'Karimun'], [6, 'Toyota Innova'], [6, 'Toyota Corolla Altis'], [7, 'Alphard'], [7, 'Toyota Fortuner'], [7, 'Toyota Foxy'], [8, 'Toyota Hiace']]

======== Final Dict by Voting ========
{'Alphard': 25.62400119264685, 'Toyota Hiace': 22.250731697597914, 'Toyota Fortuner': 22.0415103232138, 'Toyota Foxy': 21.740335140702555, 'Toyota Vios': 21.013514208089827, 'Suzuki Ertiga': 20.354402452339514, 'Toyota Corolla Altis': 20.168061955738516, 'Toyota Innova': 20.076434230934858, 'Honda City': 19.980160511187822, 'Livina': 19.693390352925768, 'Xpander': 19.56222047581847, 'Suzuki Carry': 18.955501170239422, 'Karimun': 17.579146119394757, 'Toyota Agya': 17.357319197283992, 'Daihatsu Alya': 16.556421855041183, 'Toyota Avanza': 15.35412397963113, 'Daihatsu Xenia': 15.013131076080377}

======== Final List ========
['Alphard', 'Toyota Hiace', 'Toyota Fortuner', 'Toyota Foxy', 'Toyota Vios']

In [10]:
test_dict = {}